@charset "utf-8";
/* CSS Document */

/* http://www.prepbootstrap.com/bootstrap-template/bootstrap-navbar-cart-dropdown-menu */
/* https://i.pinimg.com/originals/30/7e/d5/307ed5db6ba718fc4d4b48be80e12f08.jpg */

body{
	margin: 0;
	background-color: #C6AAAA;
}

/**********************************Sizing******************************************/
.top-buffer{
	margin-top: 6vw;
}

.top-buffer-big{
	margin-top: 4vw;
}


/******************************************Navbar**************************************************/

nav{
	position: fixed;
	top: 0;
	left: 1;
	font-size: 20px;
	width: 100%;
}

.content {
    vertical-align: center;
}

.november{
	margin: 0 auto;

}

.navbar-header{
	height: 160px;
}

.navbar-header>img{
	transform: translateY(-300%);
}

.navbar{
	margin-bottom:0;
}

.nav-edit{
	font-size: 120%;
	margin-top: -6%;
	margin-bottom: -7%;
}

.pills-style{
	color: #231F20;
	font-family: 'Righteous', sans-serif;
}

.pills-style:hover{
	color: #D46A6A;
}

.cart{
	text-align: right;
	margin-top: -4%;
	margin-bottom: 2%;
}

.search-bar{
	
}

@media (min-width: 992px){
	.col-md-4 {
	    width: auto;
	}
}
/***************************************************Carousel*************************************************************/

.pic-resize{
	height: 400px;
}

.carousel-caption{
	background-color: rgba(88, 88, 88, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
	left: 40%;
	right: 40%;
}


/********************************************* Deals *************************************************************/

.deal-border { 
   border:2px solid #021a40;
}

/*******************************************************Footer **********************************************/
.icons{
	text-align: center;
	font-size: 330%;
	color: white;
}

.icons i:hover{
	color: #290200;
}

.icons a{
	color:white;
}

.icon-spacing{
	padding-left: 40px;
	padding-right: 40px;
}

.copyright{
	text-align: center;
	color: white;
	padding-bottom: .5%;
	font-family: 'Righteous', sans-serif;
}

.footer-style{
	background-color: #560000;
	width: 100%;
	font-color: white;
}

.footer-style .top-buffer-big{
	margin-top: 6vw;
}

.footer-style .row{
	margin-left: 0;
	margin-right: 0;
}

/****************************Shop page jumbotron styles*************************************/
.lead {
	font-family:'Lato';
	color:black;
}

.display-3 {
	font-family: 'Righteous', 'Lato';
	color:black;
}

/*************************Backgrounds for jumbotrons*********************************/

.electric{
	background-image: url("images/shop-electric-fade.jpg");
}

.acoustic{
	background-image: url("images/shop-acoustic-fade.jpg");
	background-size: cover;
}

.bass{
	background-image: url("images/shop-bass-fade.jpg");
	background-size: cover;
}

.amplifiers{
	background-image: url("images/shop-amps-fade.jpg");
	background-size: cover;
}

.accessories{
	background-image: url("images/shop-accessories-fade.jpg");
	background-size: cover;
}

/*******************************Styles for products*************************************/

.card-title{
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
}

.card-text{
	font-family: 'Lato', sans-serif;
}

.btn-primary{
    background:#AA3939;
}

.btn-primary:hover{
    background:#560000;
}