@charset "utf-8";
/* CSS Document */

/* http://www.prepbootstrap.com/bootstrap-template/bootstrap-navbar-cart-dropdown-menu */
/* https://i.pinimg.com/originals/30/7e/d5/307ed5db6ba718fc4d4b48be80e12f08.jpg */

body{
	margin: 0 auto;
	background-color: #C5B480;
}

nav{
	position: fixed;
	top: 0;
	left: 1;
	font-size: 20px;
	width: 100%;
}

.content {
    vertical-align: bottom;
}

.november{
	margin: 0 auto;

}

.navbar-header{
	height: 160px;
}

.navbar-header>img{
	
	transform: translateY(-300%);
	
}

.nav-edit{
	font-size: 120%;
	margin-top: -6%;
	margin-bottom: -7%;
}

.pills-style{
	color: #231F20;
	font-family: 'Righteous';
}

.pills-style:hover{
	color: #C5B480;
}

.cart{
	text-align: right;
	margin-top: -4%;
	margin-bottom: 2%;
}

.search-bar{
	
}

.top_buffer{
	margin-top: 6vw;
}

.top-buffer-big{
	margin-top: 4vw;
}

.icons{
	text-align: center;
	font-size: 330%;
	color: #231F20
}

.copyright{
	text-align: center;
	color: #231F20;
}

.footer-style{
	background-color: #EAEAEA;
}
