@charset "utf-8";
/* CSS Document */

/* http://www.prepbootstrap.com/bootstrap-template/bootstrap-navbar-cart-dropdown-menu */

body{
	margin: 0 auto;
}

nav{
	position: fixed;
	top: 0;
	left: 1;
	font-size: 20px;
}

.content {
    vertical-align: bottom;
}

.navtest{

	background-color: #229922;

}

.november{
	margin: 0 auto;

}

.navbar-header{
	height: 160px;
}

.navbar-header>img{
	
	transform: translateY(-300%);
	
}

.nav-edit{
	font-size: 120%;
	margin-top: -6%;
	margin-bottom: -7%;
}

.cart{
	text-align: right;
	margin-top: -4%;
	margin-bottom: 2%;
}

.search-bar{
	
}

.top_buffer{
	margin-top: 6vw;
}

.top-buffer-big{
	margin-top: 4vw;
}

.icons{
	text-align: center;
	font-size: 330%;
}

.copyright{
	text-align: center;
}